@import 'reset';
@import 'var-mix';

// geral
body {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

// header
header {
  background: url('../images/desktop/image-hero.jpg') no-repeat center;
  background-size: cover;
  height: 650px;
  padding: 60px 0;
  h1 {
    display: inline-block;
    font-size: 72px;
    color: $white;
    border: 2px solid $white;
    padding: 40px 30px 30px 30px;
    max-width: 650px;
    margin-top: 130px;
    @include responsive(md){
      font-size: 60px;
      max-width: 480px;
    }
    @include responsive(sm){
      font-size: 36px;
      max-width: 480px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  [data-menu="button"] {
    display: none;
  }
  @include responsive(md) {
    div {
      position: relative;
      ul {
        display: none;
        width: 200px;
        text-align: center;
        &.active {
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 0;
          background: $black;
        }
        a {
          margin: 5px 0;
        }
      }
    }
    [data-menu="button"] {
      display: block;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
  @include responsive(sm) {
    div {
      position: relative;
      ul {
        display: none;
        width: 200px;
        text-align: center;
        &.active {
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 0;
          background: $black;
        }
        a {
          margin: 5px 0;
        }
      }
    }
    [data-menu="button"] {
      display: block;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
  ul {
    display: flex;
    li {
      margin-left: 10px;
      a {
        padding: 5px 10px;
        color: $white;
        display: inline-block;
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $white;
          transition: width .3s;
          margin: 10px auto 0 auto;
        }
        &:hover::after {
          width: 25px;
          transition: width .3s;
        }
      }
    }
  }
}

// sections
.vr {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 150px 0;
  
  h2 {
    font-size: 48px;
    margin-bottom: 25px;
  }
  .content {
    max-width: 530px;
    background: $white;
    position: absolute;
    right: 0px;
    padding: 80px 0 0 80px;
    @include responsive(lg) {
      padding: 30px 0 0 30px;
    }
    p {
      color: $dark-gray;
      line-height: 26px;
    }
  }
  @include responsive(md) {
    display: block;
    position: static;
    text-align: center;
    max-width: calc(100% - 80px);
    margin: 0 auto;
    h2 {
      font-size: 36px;
    }
    .content {
      max-width: 300px;
      position: static;
      right: auto;
      margin: 0 auto;
      padding: 80px 0 0 0;
    }
  }
  @include responsive(sm) {
    display: block;
    position: static;
    text-align: center;
    max-width: calc(100% - 80px);
    h2 {
      font-size: 36px;
    }
    .content {
      max-width: 300px;
      position: static;
      right: auto;
      margin: 0 auto;
      padding: 80px 0 0 0;
    }
  }
}

.creations {
  .tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    h2 {
      font-size: 48px;
    }
    a {
      text-transform: uppercase;
      letter-spacing: 4px;
      color: $black;
      border: 2px solid $black;
      padding: 15px 30px;
      transition: background .3s;
      &:hover {
        background: $black;
        color: $white;
        transition: background .3s;
      }
    }
    @include responsive(md) {
      flex-direction: column;
      h2 {
        font-size: 36px;
        margin-bottom: 30px;
      }
    }
    @include responsive(sm) {
      flex-direction: column;
      h2 {
        font-size: 36px;
        margin-bottom: 30px;
      }
    }
  }
  .content {
    @for $i from 1 through 8 {
      .item-#{$i} {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/desktop/image-#{$i}.jpg');
        background-size: cover;
        &:hover {
          background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../images/desktop/image-#{$i}.jpg');
          h3 {
            color: $black;
            transition: .3s;
          }
        }
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include responsive(xl) {
        justify-content: center;
        a {
          margin: 24px 12px 0 12px;
        }
      }
      @include responsive(lg) {
        justify-content: center;
        a {
          margin: 24px 12px 0 12px;
        }
      }
    }
    a {
      display: block;
      width: 256px;
      height: 450px;
      margin: 24px 2px 0 2px;
      display: flex;
      align-items: flex-end;
      padding: 30px 35px;
      @include responsive(md) {
        width: calc(100% - 80px);
        height: 170px;
        margin-left: auto;
        margin-right: auto;
        h3 {
          max-width: 250px;
        }
      }
      @include responsive(sm) {
        width: calc(100% - 80px);
        height: 170px;
        padding: 20px 25px;
        margin-left: auto;
        margin-right: auto;
        h3 {
          max-width: 250px;
        }
      }
    }
    h3 {
      font-family: 'Josefin Sans', sans-serif;
      color: $white;
      font-size: 36px;
      text-transform: uppercase;
    }
  }
}

// footer
footer {
  background: $black;
  margin-top: 200px;
  color: $white;
  padding: 40px 0;
  .container {
    display: flex;
    flex-direction: column;
    .f-1, .f-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .f-1 {
      margin-bottom: 20px;
      a {
        margin-left: 10px;
        display: inline-block;
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $white;
          transition: width .3s;
          margin: 10px auto 0 auto;
        }
        &:hover::after {
          width: 23px;
          transition: width .3s;
        }
      }
    }
    .f-2 {
      li {
        margin-left: 0px;
        margin-right: 10px;
      }
      p {
        color: $very-dark-gray;
      }
    } 
    @include responsive(md) {
      display: block;
      .f-1, .f-2 {
        display: block;
        text-align: center;
      }
      .f-1 {
        .logo img {
          margin: 0 auto;
          margin-bottom: 30px;
        }
      }
      .f-2 {
        ul {
          display: block;
          margin: 20px 0 30px 0;
        }
      } 
    }
    @include responsive(sm) {
      display: block;
      .f-1, .f-2 {
        display: block;
        text-align: center;
      }
      .f-1 {
        .logo img {
          margin: 0 auto;
          margin-bottom: 30px;
        }
      }
      .f-2 {
        ul {
          display: block;
          margin: 20px 0 30px 0;
        }
      } 
    }
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}